# videosubfinder garbage
DebugImages/
ILAImages/
ImagesJoined/
ISAImages/
RGBImages/
TestImages/
TXTImages/
TXTResults/

# mocha pro
results/
*.index

# backups
*.bak

# video files
*.mp4
!*_subbed.mp4
